.first{
    grid-area: first;
}

.second{
    grid-area: second;
}

.third{
    grid-area: third;
}

.deals{
    display: grid;
    gap: 10px;
    grid-template-areas: "first third third"
                         "second third third";
                         justify-content: center; 
}


@media screen and (max-width:576px){

    nav{
        margin:60px 16px;
    }

    nav img{
        width: 80px;
    }

    .mobile-res{
        display: none;
    }

    .cart{
        font-size: 25px;
    }

    .banner{
        flex-direction: column-reverse;
    }
    .items{
        grid-template-columns: repeat(2,1fr);
    }
    .store{
        flex-direction: column;
    }
    .store h1{
        font-size: 24px;
    }
    .store li{
        font-size: 16px;
    }

    .store img{
        width: 95%;
        margin: auto;
    }

    .deals{

        .third{
            height: 200px;
        }
        grid-template-areas: "first"
                              "second"
                              "third";
    }

    .search h1{
        text-align: center;
        font-size: 1.5rem;
    }

    .search input{
            padding-right: 40px;
    }

    .search button{
        padding-right:7px;
        padding-left:7px;
    }

    .footer-parent div{
        margin: 0;
    }

    .footer-parent{
        flex-direction: column;
        margin: 0;
    }
}
    