.first{
    grid-area: first;
}

.second{
    grid-area: second;
}

.third{
    grid-area: third;
}

.deals>div{
    display: grid;
    gap: 10px;
    grid-template-areas: "first third"
                         "second third";
}


@media screen and (max-width:576px){

    .banner{
        flex-direction: column-reverse;
    }
    .items{
        grid-template-columns: repeat(2,1fr);
    }
    .store{
        flex-direction: column;
    }
    .store h1{
        font-size: 24px;
    }
    .store li{
        font-size: 16px;
    }
}